<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google OAuth</title>
</head>
<body>
    <div>
        <div>
            <h1>
                <span></span>
                Social Authentication
            </h1>
            <br>
            <p>Login or Register with :</p>
            <br>
            <a href="/auth/google">
                <span>Google :</span>
                SignIn with example
            </a>
        </div>
    </div>
</body>
</html>