<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <div>
        <div>
            <h1>
                <span></span>
                Profile Information
            </h1>
            <div>
                <div>
                    <div>
                        <p>
                            <strong>ID</strong>
                            : {{.UserID}}
                            <br>
                            <strong>Email</strong>
                            : {{.Email}}
                            <br>
                            <strong>Name</strong>
                            : {{.Name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>